vim/.vim_mru_files
bash/.bash_history
vim/.vim_runtime/temp_dirs/*
Slack/.config/Slack/*
Code\ -\ OSS/.config/Code\ -\ OSS/GPUCache/*
Code\ -\ OSS/.config/Code\ -\ OSS/logs/*
Caprine/.config/Caprine/*
Code\ -\ OSS/.config/Code\ -\ OSS/Cache/*
sublime-text-3/.config/sublime-text-3/Index/*
sublime-text-3/.config/sublime-text-3/Cache/*
opera/.config/opera/*
Code\ -\ OSS/.config/Code\ -\ OSS/*
spotify/.config/spotify/Users/*
xarchiver/*
libreaoffice/.config/libreoffice/*
configstore/.config/configstore/*
*.log
*.bnk
*/Cache/*
*/cache/*
*/GPUCache/*
*/GPUcache/*
google-chrome/.config/google-chrome/*
Mailspring/.config/Mailspring/Mailspring/files/*
Mailspring/.config/Mailspring/Mailspring/compile-cache/*
Mailspring/.config/Mailspring/Mailspring/Cache/*
Mailspring/.config/Mailspring/Mailspring/GPUCache/*
Mailspring/.config/Mailspring/Mailspring/Local\ Storage/*
Mailspring/.config/Mailspring/Cache/*
*.db
*.db-shm
*.db-wal
*.log.*
Mailspring/.config/Mailspring/*
gconf/.config/gconf/*
Virtualbox/.config/Virtualbox/Virtualbox.xml
Virtualbox/.config/Virtualbox/Virtualbox.xml-prev

